.button_popup-style_valid {
  /* Экран */
  width: 100%;
  height: 50px;
  
  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  
  /* Стиль */
  background-color: black;
  border: none;
  border-radius: 2px;
  
  /* Отступы */
  padding: 0;
  margin: 13px 0 0 0;
}
  
/* Наведение */
.button_popup-style_valid:hover {
  opacity: .8;
}
  
@media screen and (max-width: 568px) {
  .button_popup-style_valid {
    /* Экран */
    height: 46px;

    /* Текст */
    font-size: 14px;
    line-height: 17px;
  }
}