.button_type_edit-button {
  /* Экран */
  width: 24px;
  height: 24px;

  /* Стиль */
  background-image: url(../../../../images/edit-button.svg);
  border: 1px solid white;
  background-size: 10px;

  /* Отступы */
  padding: 0;
  margin: 15px 0 0 0;

  /* Разметка */
  grid-area: profile__button_type_edit-button;
}

@media screen and (max-width: 970px) {
  .button_type_edit-button {
    /* Экран */
    position: absolute;
    top: 8px;
    left: 160px;
    right: 19px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;

    /* Отступы */
    margin: 0;
  }
}