.pop-up__fieldset {
  /* Экран */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;

  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  /* Стиль */
  border: none;

  /* Отступы */
  padding: 0;
  margin: 0 0 31px 0;
}

@media screen and (max-width: 568px) {
  /* Отступы */
  .pop-up__fieldset {
    margin: 0 0 45px 0;
  }
}