.profile {
  /* Экран */
  min-width: 282px;
  max-width: 880px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Отступы */
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 970px) {
  .profile {
    /* Экран */
    flex-direction: column;
  }
}