.pop-up__input-errormessage {
  /* Экран */
  visibility: hidden;
  opacity: 1;

  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;

  /* Отступы */
  margin: 0;
  padding: 0;
}