.header__logo{
  /* Экран */
  width: 142px;

  /* Отступы */
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .header__logo{
    /* Экран */
    width: 103px;

    /* Отступы */
    margin: 0 0 0 8.438%;
  }
}