.button_profile_add-button{
  /* Экран */
  min-width: 150px;
  height: 50px;

  /* Стиль */
  background-image: url(../../../../images/add-button.svg);
  border: 2px solid white;
  background-size: 22px;

  /* Отступы */
  padding: 0;
  margin: 0;
}

/* Наведение */
.button_profile_add-button:hover{
  opacity: 60%;
}

@media screen and (max-width: 970px) {
  .button_profile_add-button{
    /* Экран */
    width: 100%;

    /* Стиль */
    background-size: 16px;
  }
}