.pop-up__img-caption{
  /* Экран */
  max-width: 291px;

  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;

  /* Отступы */
  padding: 0 0 0 0;
  margin: 0;
}