.profile__name {
  max-width: 294px;
  /* Текст */
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* Отступы */
  padding: 0;
  margin: 0;

  /* Разметка */
  grid-area: profile__name;
}

@media screen and (max-width: 970px) {
  .profile__name {
    /* Текст */
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}