.element__title{
  /* Текст */
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* Отступы */
  padding: 0;
  margin: 0;

  /* Расположение */
  z-index: 1;
}