.profile__info{
  /* Экран */
  max-width: 336px;
  display: grid;
  column-gap: 18px;
  row-gap: 16px;

  /* Разметка */
  grid-template-areas: 
  "profile__name profile__button_type_edit-button"
  "profile__description profile__description";

  /* Отступы */
  padding: 0;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 970px) {
  .profile__info{
    /* Экран */
    max-width: 282px;
  
    /* Отступы */
    margin: 0 0 36px 0;
    column-gap: 10px;
    row-gap: 14px;
  }
}