.element {
  /* Экарн */
  position: relative;
  width: 282px;
  min-height: 361px;

  /* Стиль */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;

  /* Отступы */
  padding: 0;
  margin: 0;
}