.pop-up__container {
  /* Экран */
  position: relative;
  width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Стиль */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

  /* Отступы */
  padding: 34px 36px 37px 36px;
  margin: auto 0 auto 0;
}

@media screen and (max-width: 568px) {
  .pop-up__container {
    /* Экран */
    width: 238px;

    /* Отступы */
    padding: 25px 22px;
  }
}