.button__save-button{
  /* Экран */
  width: 100%;
  height: 50px;

  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;

  /* Стиль */
  background-color: black;
  border: none;
  border-radius: 2px;

  padding: 0;
  margin: 0;
}

/* Наведение */
.button__save-button:hover{
  opacity: 80%;
}

@media screen and (max-width: 568px) {
  .button__save-button{
  /* Текст */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  }
}